<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-243-147-162.compute-1.amazonaws.com:5432/db0a2o1rbri4t8</property>
        <property name="hibernate.connection.username">zokvxifscrgezc</property>
        <property name="hibernate.connection.password">f73c3e252b4eefc05c145cc1deb5827446b6196b1d8b741eea827bed5f334911</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.ProgressDialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create all database on startup -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Annotated entity classes -->
        <mapping class="com.javaeelab.webservices.rest.model.Order"/>

    </session-factory>
</hibernate-configuration>